<div id="contato">
  <div class="container contatoCont">
    <h5 class="h3 text-center tituloH5red">CONTATO</h5>
    <p class="text-center cardfont cardPad">Caso tenha alguma duvida, mande um e-mail para nós ou 
      entra em contato pelo telefone/WhatsApp,
      teremos o maior prazer em respondelo!
    </p>
    <form id="contatoForm">
      <div class="form-group">
        <label for=""></label>
        <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" aria-describedby="helpId">
      </div>
      <div class="form-group">
        <label for=""></label>
        <input type="email" class="form-control" name="emailcontato" id="" aria-describedby="emailHelpId" placeholder="E-mail">
      </div>
      <div class="form-group">
        <label for=""></label>
        <textarea class="form-control" name="" id="" rows="4"></textarea>
      </div>
      <input type="button" class="btn btn-primary" value="Enviar">
    </form>
    <div class="container">
      <i class="fab fa-whatsapp" style="color: green"> </i>(21) 99828-2220
      <p>vaivoandoexpress@gmail.com</p>
    
    </div>
    
  </div>
</div>