      <form>
        <div class="form-group">
          <label for="nome" class="formAjuste">Nome Completo</label>
          <input type="text" class="form-control" id="completeName" placeholder="Escreva seu nome completo">
        </div>
        <div class="form-group">
          <label for="email" class="formAjuste">E-mail</label>
          <input type="email" class="form-control" id="emailContato" placeholder="E-mail para contato">
        </div>
        <div class="form-group">
          <label for="telefone" class="formAjuste">Telefone para contato</label>
          <input type="text" class="form-control " id="telefone" placeholder="Telefone/Celular (Ex.: (21) 00000-0000)">
        </div>
        <div class="form-group">
          <label for="endColeta" class="formAjuste">Endereço da coleta</label>
          <input type="text" class="form-control" id="endColeta" placeholder="Endereço da retirada">
        </div>
        <div class="form-group">
          <label for="cepColeta" class="formAjuste cep">CEP da coleta</label>
          <input type="text" class="form-control" id="cepColeta" placeholder="Ex.: 00000-000">
        </div>
        <div class="form-group">
          <label for="endEntrega" class="formAjuste">Endereço da entrega</label>
          <input type="text" class="form-control" id="endEntrega" placeholder="Endereço da retirada">
        </div>
        <div class="form-group">
          <label for="cepEntrega" class="formAjuste cep">CEP da entrega</label>
          <input type="text" class="form-control" id="cepEntrega" placeholder="Ex.: 00000-000">
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6 col-md-2 text-center">
            <label for="qtdVolumes" class="fontAjuste">Qtd. de Volumes :</label>
            <div class="form-group">
              <input type="number" class="form-control" id="endColeta" placeholder="">
            </div>
          </div>
          <div class="form-group col-sm-6 col-md-2 text-center">
            <label for="prodPeso">Peso: (g)</label>
            <div class="form-group">
              <input type="number" class="form-control" id="endColeta" placeholder="">
            </div>
          </div>
          <div class="form-group col-sm-6 col-md text-center">
            <label for="medidaProd">Medidas: (cm)</label>
            <div class="form-inline align-self-center">
              <input type="number" class="form-control col-sm-6 col-md-4" id="alturaProd" placeholder="Altura">
              <input type="number" class="form-control col-sm-6 col-md-4" id="larguraProd" placeholder="Largura">
              <input type="number" class="form-control col-sm-6 col-md-4" id="comprimentoProd" placeholder="Comprimento">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="valorNota">Valor da nota:</label>
          <input type="number" class="form-control" id="valorNota" placeholder="R$">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>