<div id="empresa">
    <div class="container empresaCont">
      <div class="card border border-white cardPad">
        <h5 class="h2 text-center tituloH5yel">A EMPRESA</h5>
        <div class="card-body cardBod">
          <img class="logoempresa" src="../img/logo.png" alt="Card image cap">
          <p class="card-text text-justify cardfont">A Vai Voando Express é um agente de cargas Multimodal, que acumula
            25 anos de
            experiência,
            operando em todo Território Nacional. Somos credenciados em toda as companhias aéreas nacionais e
            grandes parceiros na malha rodoviária, com sede no Rio de Janeiro - RJ, atuando no ramo de cargas
            domésticas.</p>
  
        </div>
      </div>
      <div class="card-deck">
        <div class="card border border-white">
          <img class="card-img-top w-50 rounded mx-auto d-block" src="../img/missao.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="h4 text-center tituloH5">MISSÃO</h5>
            <p class="card-text text-justify cardfont">Desenvolver soluções integradas de logística, focadas nas
              necessidades dos nossos
              clientes,
              garantindo o sucesso e sustentabilidade dos negócios.</p>
          </div>
        </div>
        <div class="card border border-white">
          <img class="card-img-top w-50 rounded mx-auto d-block" src="../img/visao.png" alt="VISÃO">
          <div class="card-body">
            <h5 class="h4 text-center tituloH5">VISÃO</h5>
            <p class="card-text text-justify cardfont">Ser reconhecida por seus clientes e colaboradores, como uma das
              mais bem sucedidas
              empresa do
              mercado.</p>
          </div>
        </div>
        <div class="card border border-white">
          <img class="card-img-top w-50 rounded mx-auto d-block" src="../img/valores.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="h4 text-center tituloH5">VALORES</h5>
            <p class="card-text text-justify cardfont">Foco nas necessidades e níveis de serviços acordados. Fazer uso da
              tecnologia em todos
              os
              processos e operações, trabalhando em equipe com comprometimento e segurança, buscando a satisfação total
              dos
              nossos clientes.</p>
          </div>
        </div>
      </div>
      </li>
      </ul>
    </div>
  </div>